/* CLEAR FIX*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*fonts -- CRIMSON*/

@font-face {
    font-family: 'crimsonitalic';
    src: url('fonts/crimson/crimson-italic-webfont.eot');
    src: url('fonts/crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimson-italic-webfont.woff') format('woff'),
         url('fonts/crimson/crimson-italic-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimson-italic-webfont.svg#fonts/crimson/crimsonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimson';
    src: url('fonts/crimson/crimson-roman-webfont.eot');
    src: url('fonts/crimson/crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimson-roman-webfont.woff') format('woff'),
         url('fonts/crimson/crimson-roman-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimson-roman-webfont.svg#fonts/crimson/crimsonroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonbold';
    src: url('fonts/crimson/crimson-bold-webfont.eot');
    src: url('fonts/crimson/crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimson-bold-webfont.woff') format('woff'),
         url('fonts/crimson/crimson-bold-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimson-bold-webfont.svg#fonts/crimson/crimsonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*FONTS -- KARBON*/


@font-face {
    font-family: 'karbonlight';
    src: url('fonts/karbon/karbon-light-webfont.eot');
    src: url('fonts/karbon/karbon-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-light-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-light-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-light-webfont.svg#karbonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonregular';
    src: url('fonts/karbon/karbon-regular-webfont.eot');
    src: url('fonts/karbon/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-regular-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-regular-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-regular-webfont.svg#karbonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonmedium';
    src: url('fonts/karbon/karbon-medium-webfont.eot');
    src: url('fonts/karbon/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-medium-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-medium-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-medium-webfont.svg#karbonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}




@font-face {
    font-family: 'karbonsemibold';
    src: url('fonts/karbon/karbon-semibold-webfont.eot');
    src: url('fonts/karbon/karbon-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-semibold-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-semibold-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-semibold-webfont.svg#karbonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonthin';
    src: url('fonts/karbon/karbon-thin-webfont.eot');
    src: url('fonts/karbon/karbon-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-thin-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-thin-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-thin-webfont.svg#karbonthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karbonbold';
    src: url('fonts/karbon/karbon-bold-webfont.eot');
    src: url('fonts/karbon/karbon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karbon/karbon-bold-webfont.woff') format('woff'),
         url('fonts/karbon/karbon-bold-webfont.ttf') format('truetype'),
         url('fonts/karbon/karbon-bold-webfont.svg#karbonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background: #333333;
}

.content{
	max-width: 88%;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

header{
	background: url(images/header/slideshow/1.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	max-height: 900px;
	position: relative;
	z-index: 10;
}
header p{
	font-family: karbonlight;
	color: #FFFFFF;
	max-width: 400px;
	text-align: justify;
	line-height: 20px;
	clear:both;
}
header .content img.logo{
	margin-top: 5px;
	float:left;
	margin-right: 5px;
}
.BOF{
	margin-bottom: 50px;
	margin-top: 230px;
}


nav{
	background: #555555;
	text-align: center;
	padding: 40px 16px 70px 16px;
	float:left;
	display:block;
	margin-top: 5px;
	height: 88px;
	width: 166px;
	line-height: 30px;
}

nav a{
	font-family: crimson;
	text-decoration: none;
	font-weight: 100;
	display:block;
	color: #CCCCCC;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
	letter-spacing: 2px;
	font-size: 12px;
}

nav a:hover{
	color: #FFFFFF;
}

#celebrate{
	color: #777777;
	font-family: karbonmedium;
	background: #FFFFFF;
	text-align: center;
	padding: 10px 0px 10px 0px;
	letter-spacing: 2px;
}

#celebrate a{
	color: #000000;
	font-family: karbonmedium;
	text-decoration: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}
#celebrate a:hover{
	color: #CCCCCC;
}

section#about h1{
	font-family: crimson;
	color: #FFFFFF;
	font-weight: 100;
}
section#about p{
	font-family: karbonregular;
	color: #FFFFFF;
}

.karbonmedium{
	font-family: karbonmedium;
}

section#about ul li{
	font-family: karbonregular;
	color: #FFFFFF;
	list-style: none;
}

section#about ul li a{
	font-family: karbonregular;
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

section#about ul li a:hover{
	color: #CCCCCC;
}

section#about .content .col1{
	float:left;
	text-align: justify;
	line-height: 20px;
	width: 33%;
}
section#about .content .col2{
	float:left;
	text-align: center;
	padding-top: 20px;
	width: 33%;
}
section#about .content .col3{
	text-align: justify;
	line-height: 20px;
	float:left;
	width: 33%;
}
section#about .content .col3 ul{
	margin-top: 40px;
}

section#about{
	padding: 0px 0px 100px 0px;
}

.line{
	background: rgba(255, 255, 255, 0.4);
	height: .5px;
}
#tenthAnniversary{
	text-align: center;
	color: rgba(255, 255, 255, .7);
	font-family: karbonregular;
	background: url(images/tenth_anniversary/background.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	min-height: 541px;
}
#tenthAnniversary .tenth{
	font-family: crimson;
	font-size: 4em;
	letter-spacing: 10px;
	font-weight: lighter;
}
#tenthAnniversary img{
	position: relative;
	left: 50px;
	top: 10px;
	margin-top: 150px;
	opacity: .7;
}
#tenthanniversary p{
	margin: 0 auto;
	font-family: karbonmedium;
	letter-spacing: 1px;
	max-width: 780px;
}

#photos{
	padding: 20px;
	max-height: 800px;
	overflow:hidden;
	text-align: center;
}
#photos h2{
	font-family: karbonregular;
	color: #555555;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}
#photos button{
	background: none;
	color: #FFFFFF;
	border: none;
	text-transform: uppercase;
	height: 25px;
	width:auto;
	text-align: center;
	margin-top: 12px;
	font-family: 'karbonmedium';
	letter-spacing: 2px;
	-webkit-transition: color .3 ease-in-out;
	-moz-transition: color .3 ease-in-out;
	-o-transition: color .3 ease-in-out;
	-ms-transition: color .3 ease-in-out;
	transition: color .3 ease-in-out;
}

#photos button:hover{
	color: #CCCCCC;
}

.instagram a img{
	float:left;
	margin: 20px;
}
.instagram{
	max-width: 954px;
	margin: 0 auto;
	/*position: relative;
	max-width: 954px;
	margin-left: -477px;
	left: 50%;*/
}
section#designers{
	border-top: thick #999999 solid;
	border-bottom: thick #555555 solid;
	position: relative;
	z-index: 11;
}
div#featured{
	background: #FFFFFF;
	text-align: center;
	font-family: crimson;
	color: #999999;
	padding: 20px 0px 20px 0px;
	letter-spacing: 2px;
}
#featured a{
	text-decoration: none;
	color: #999999;
}
#featured a:hover{
	text-decoration: none;
	color: #666666;
}
/*Featured Designers styles*/

#designers.fixed{
	margin-top: 30px;
}
.fixed, .fixed-nav{
	background: #fff url() 0 0 no-repeat;
	position: fixed!important;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	margin: 0!important;
	padding: 0!important;
	height: auto;
}
.fixed-nav a{
		color: #000;
}
.fixed-nav a:hover{
	color:#CCC;
}
.fixed-nav{
	-webkit-box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, .3);
box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, .3);
}
.un-stack{
	display: inline!important;
	margin: 0 25px;
}
#designers-wrap{
	height: 62px;
	width: 100%;
}
.inner{
margin: 0px;
padding: 80px;
color: #FFFFFF;
}
.inner p{
	font family: 'karbon';
	font-weight: lighter;
	font-size: 14px;
	max-width: 400px;
	line-height: 20px;
}
.inner a{
	text-transform: uppercase;
	font-family: 'karbonbold';
	text-decoration: none;
	color: #FFFFFF;
}
.inner h1{
	font-family: 'crimson';
	font-weight: lighter;
	font-size: 24px;
}
#featured-designers ul{
	margin: 0;
	padding: 0;
}
#featured-designers li{
	list-style: none;
	width: 100%;
}
.fd-block{
	height: 100%;
	position:relative;
	z-index: 10;
}
#heather{
	background: url(images/featured_designers/heatherbmoore.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
#jennz{
	background: url(images/featured_designers/jenniferzeuner.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
#jeanin{
	background: url(images/featured_designers/jeaninpayer.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
#jennm{
	background: url(images/featured_designers/jennifermeyer.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
#meandro{
	background: url(images/featured_designers/meandro.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
#sky{
	background: url(images/featured_designers/skyjewels.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
/*END FEATURED*/
.white{
	color: #CCCCCC;
}
.grey{
	color: #777777;
}
.contacts{
	margin: auto;
	max-width: 1000px;
	padding: 50px 0px 50px 0px;
}
#contact{
	margin: 0 auto;
	text-align: center;
}

.contact{
	float:left;
	margin-right: 1%;
	margin-left: 1%;
	color: #FFFFFF;
	font-family: karbonmedium;
	letter-spacing: 2px;
}
.contact a{
	color: #FFFFFF;
	font-family: karbonmedium;
	letter-spacing: 2px;
	text-decoration: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}
.contact a:hover{
	color: #CCCCCC;
}
.contact img{
	margin-bottom: 5px;
}

footer{
	background: #CCCCCC;
	color: #555555;
	padding: 40px 0px 150px 0px;
	max-width: 100%;
}
.label2{
	color: #999999;
	font-family: karbonmedium;
	display:inline-block;
	width: 80px;
}
footer ul li{
	list-style: none;
	font-family: karbonmedium;
	color: #555555;
	line-height: 20px;
}
footer ul li a{
	text-decoration: none;
	list-style: none;
	font-family: karbonmedium;
	color: #555555;
	line-height: 20px;
	padding: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

footer .col1{
	float:left;
	width: 33%;
	text-align: justify;

}
footer .col2{
	float:left;
	text-align: center;
	width: 33%;
}
footer .col3{
	text-align: justify;
	line-height: 20px;
	width: 33%;
	float:left;
}
footer p{
	color: #999999;
	font-family: karbonregular;
	margin-left: 40px;
}
footer ul li a:hover{
	color: #FFFFFF;
}
.words{
	text-align: center;
	color: #999999;
	font-family: karbonregular;
	position: relative;
	top: -8px;
}
.phil{
	margin-left: 85px;
}




@media only screen and (max-width: 1023px){
section#about .content .col1{
	float:none;
	text-align: justify;
	line-height: 20px;
	width: 90%;
}
section#about .content .col2{
	float:none;
	text-align: center;
	padding-top: 20px;
	width: 90%;
}
section#about .content .col3{
	text-align: justify;
	line-height: 20px;
	float:none;
	width: 90%;
}




#tenthAnniversary img{
	left: 0px;
}
.instagram a img{
	float:left;
	margin: 5px;
	width: 100px;

}
.instagram{
	width: 76%;

}


footer .content .col1{
	float:none;
	text-align: justify;
	line-height: 20px;
	width: 90%;
}
footer .content .col2{
	float:none;
	text-align: center;
	padding-top: 20px;
	width: 90%;
}
footer .content .col3{
	text-align: justify;
	line-height: 20px;
	float:none;
	width: 90%;
}

}
@media only screen and (max-width: 500px){
	header p{
		color: #333;
		padding: 10px;
	}
.inner{
	padding: 10px;
}
#tenthAnniversary img{
	left: 0px;
}
.instagram a img{
	float:left;
	margin: 5px;
	width: 50px;

}
.instagram{
	width: 70%;

}
header .content img.logo{
	margin-top: 5px;
	float:none;
	position: relative;
	left: 50%;
	margin-left: -50px;
	margin-bottom: 10px;
	width: 100px;
}
.BOF{
	margin-top: 0px;
	width: 80px;
	margin-left: -40px;
	left: 50%;
	position: relative;
}
nav{
	float: none;
	clear:both;
	margin: 0 auto;
}


.contact img{
	width: 50px;
}
.contact span{
	display:none;
}

footer .content .col1{
	float:none;
	text-align: justify;
	line-height: 20px;
	width: 90%;
}
footer .content .col2{
	float:none;
	text-align: center;
	padding-top: 20px;
	width: 90%;
}
footer .content .col3{
	text-align: justify;
	line-height: 20px;
	float:none;
	width: 90%;
}

}
